ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=Rentlyo;User Id=sa;Password=Your_password123;TrustServerCertificate=True;
ConnectionStrings__Redis=localhost:6379
FRONTEND_ORIGIN=http://localhost:3000
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
